/*
html {
    font-size: 62.5%;
}
body {
    font-size: 16px;
}

usalo para patallas grandes
*/
html {
    font-size: 62.5%;
}
body {
    font-size: 16px;
}
h1.titulo span {
    text-align: center;
    font-size: 3.8rem;
    color: blue;
}

.titulo span {
    font-size: 2rem;
    color: red;
}

span {
    color: green;
}

